*{
    font-family: 'Press Start 2P', cursive;
}

.box{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-image: url(../img/grass.webp);
}

.pointer{
    width: 50px;
    background-color: red;
    height: 50px;
    margin: 0;
}

#character{
    width: 80px;
}
.tag{
    background-color: whitesmoke;
    opacity: 0.75;
    padding: 5px;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

html, body{
    height: 97vh;
}

img#dado{
    width: 200px;
}
.enemy{
    width: 100px;
    height: 100px;
}

#gameOver{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: whitesmoke;
    height: 200px;
    border-radius: 2vh ;
}

#opciones{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#jugarOtra{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    background-color: red;
}

table{
    padding: 10px;
    width: 100%;
}
tr, td, th{
    padding: 10px;
}

th{
    text-align: center
}

td{
    text-align: center;
}

tr{
    border-bottom: 1px solid black;
}

#gameOver h2{
    margin: auto;
}

.panelPuntuaciones{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.panelPuntuaciones a{
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    background-color:green;
    color: white;
}

#opciones button{
    padding: 10px;
    color: white;
    text-align: center;
    border: 0px;
    font-size: 15px;
    background-color: green;
    text-decoration: none;
}

#opciones button:hover{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form *{
    margin: 10px;
}

#jugar{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.322);
    border: 0px;
    color: white;
}

#jugar:hover{
    cursor: pointer;
}

#comprobarNombre{
    background-color: white;
    border: 0px;
    padding: 10px;
}

#comprobarNombre:hover{
    cursor: pointer;
}

#puntuaciones{
    padding: 10px;
    background-color: green;
    border: 0px;
    color: white;
}

#puntuaciones:hover{
    cursor: pointer;
}

.container{
    background-color: whitesmoke;
    padding: 20px;
}

#panelDado{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 20px;
}

#vidasContainer img{
    width: 50px;
    padding: 10px;
}