.box{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-image: url(../img/grass.webp);
}

.pointer{
    width: 30px;
    background-color: red;
    height: 30px;
    margin: 0;
}

#character{
    width: 55px;
}
.tag{
    background-color: whitesmoke;
    opacity: 0.75;
    padding: 5px;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

html, body{
    height: 97vh;
}

img#dado{
    width: 200px;
}
.enemy{
    width: 100px;
}